<nav class='navbar'>
  <div class='navbar-logo'>
    Products API
  </div>
  <ul class='navbar-links'>
    <li>
      <a routerLink="list">Productos</a>
    </li>
    <li>
      <a routerLink="productos-form" routerLinkActive="active">Registrar Producto</a>
    </li>
    <li>
      <a routerLink="categorias-list" routerLinkActive="active">Categorias</a>
    </li>
    <li>
      <a routerLink="categorias-form" routerLinkActive="active">Registrar Categoria</a>
    </li>
    <li class="navbar-actions login-btn">
      <a routerLink="login" >Login</a>
    </li>
  </ul>
</nav>
